.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeredSection {
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.largeImage {
  width: 550%;
  max-width: 1050px;
  margin: 25px 0;
  margin-left: 100px;
}

.largeImage1 {
  width: 750%;
  max-width: 1050px;
  margin: 45px 0;
  margin-right: 500px;
  padding-right: 100px;
}

.largeImage2 {
  width: 750%;
  max-width: 1050px;
  margin: 45px 0;
  margin-left: 200px;
}

.largeImage3 {
  width: 750%;
  max-width: 300px;
  margin: 5px 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image {
  width: 130%;
  max-width: 900%;
  margin: 20px 0;
}

.smallText {
  font-size: 1rem;
  line-height: 1.2;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.sectionSubtitle {
  font-size: 1.2rem;
  margin-bottom: 40px;
  text-align: center;
  color: #666;
}

.sectionHeader {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #333;
}

.sectionContent {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #444;
}

.list {
  margin-bottom: 20px;
  padding-left: 20px;
}

.centerAlign {
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
}

.newsletter {
  margin-top: 40px;
  text-align: center;
}

.newsletter h3 {
  margin-bottom: 20px;
}

.newsletterForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField {
  margin: 10px;
  padding: 5px;
  font-size: 1em;
  width: 200px;
  border: 1px solid #ccc;
}

.inputField:focus {
  outline: none;
  border-color: #0d0d0e;
  box-shadow: 0 0 5px rgba(84, 84, 85, 0.6);
}

.submitButton {
  margin: 10px;
  padding: 5px 20px;
  font-size: 1em;
  cursor: pointer;
  background: linear-gradient(to right, #28a745 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 2px solid #51e674;
  border: 0.5px solid #28a745; /* Cieńsza ramka */
  font-weight: 100; /* Zmniejszenie grubości tekstu */
  transition: background-position 0.3s ease, color 0.3s ease;
  color: #51e674;
}

.submitButton:hover {
  background-position: left bottom;
  color: white;
  font-weight: 200;
}

.unsubscribeButton {
  margin: 10px;
  padding: 5px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  font-weight: 400;
}

.clause {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clause input {
  margin-right: 10px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}
