
.cardContainer {
    min-height: 500px;
}

.cardImage {
    transition: transform 0.4s ease-in-out;
}

.cardImage:hover {
    transform: scale(0.9);
}

.card {
    transition: box-shadow 0.6s ease-in-out;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}
